    <!DOCTYPE html>
    <html>
        <head>
            <title>Add Profile</title>
        </head>
        <body>
            <h3>Profile form</h3>
            <form action="/add" method="POST">
                <label>Name</label>
                <input type="text" name="name" placeholder="name...">
                <label>E-mail</label>
                <input type="text" name="email" placeholder="email...">
                <label>Occupation</label>
                <input type="text" name="occupation" placeholder="occupation...">
                <button type="submit">Add</button>>
            </form>
        </body>
    </html>